@tailwind base;
@tailwind components;
@tailwind utilities;

/* npx tailwindcss -i ./src/index.css -o ./dist/index.css --watch */



.animated {
    -webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
}

@-webkit-keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
@keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
.fadeIn { 
    -webkit-animation-name: fadeIn; 
    animation-name: fadeIn; 
}

.cream-to-gray-bg{
    background-image: linear-gradient(to bottom, #f8f1df, #f8f1df, #f8f1df, #f8f1df, #f8f1df, #f4f1e0, #f0f1e1, #ecf0e2, #e6eee5, #e3ece7, #e2e9e7, #e3e6e6);
}

.scroll-hider::-webkit-scrollbar {
    display: none;
}

.scroll-hider{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}