@tailwind base;
@tailwind components;
@tailwind utilities;

/* npx tailwindcss -i ./src/index.css -o ./dist/index.css --watch */



.animated {
    -webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
}

@-webkit-keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
@keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
.fadeIn { 
    -webkit-animation-name: fadeIn; 
    animation-name: fadeIn; 
}

.cream-to-gray-bg{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(230,231,229,1) 13%, rgba(248,241,223,1) 100%);
    background-repeat: no-repeat;
}

.scroll-hider::-webkit-scrollbar {
    display: none;
}

.scroll-hider{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}