@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-hider::-webkit-scrollbar {
    display: none;
}

.scroll-hider{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}